<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codebaum.antifragments" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.AntiFragmentActivity"
            android:label="@string/title_headline_list_anti" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HeadlineListActivity"
            android:label="@string/title_headline_list_pro" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HeadlineDetailActivity"
            android:label="@string/title_headline_detail"
            android:parentActivityName=".activities.HeadlineListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HeadlineListActivity" />
        </activity>
    </application>

</manifest>
